body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#D1462F;
    color: white;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main {
    justify-content:center;
}


.timer {
    display: inline;
    z-index: 9999;
}

.heading-one {
    font-size: larger;
    color: #9ED8DB;
}

.start-button {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    background-color: #9ED8DB;
    font-weight: bold;
    color: #D1462F;
}

.push-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.question-container {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: larger;
}

.container {
    display: flex;
    padding: 0 15%;
}

.answer-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-size: 2.2rem;
    top: -3px;
    font-weight: bold;
    color: #9ED8DB;
}


#highscores {
    margin: auto;
    width: 50%;
    font-size: 22px;
    
}
